body {

    padding: 0;
    margin: 0;
    background-color: #8a2be2;

}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h1 {
    text-align: center;
}

.card {
    background-color: rgba(19, 19, 19, 0.2);
    padding: 50px;
    border-radius: 2px;
    width: 280px;

}

.card-header {
    padding-bottom: 10px;
    color: #fff;

}

.card-content label {
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.botao-footer {
    display: flex;
    flex-direction: column;
}

.botao-footer .submit {
    width: 100%;
    height: 40px;
    background-color: #a13854;
    border: none;
    color: #e1e1e1;
    margin: 10px 0;
}

.botao-footer a {
    text-align: center;
    font-size: 21px;
    color: #fff;
    text-decoration: none;
}

.recuperar_senha {
    text-align: center;
    color: #e1e1e1;
}